@font-face {
  font-family: "Manrope";
  src: url("fonts/Manrope-SemiBold.ttf") format("TrueType");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("fonts/Manrope-Bold.ttf") format("TrueType");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("fonts/Manrope-ExtraBold.ttf") format("TrueType");
  font-weight: 800;
  font-style: normal;
}

body {
  background: rgba(32, 32, 32, 1);

  font-family: "Manrope", sans-serif;
  letter-spacing: -0.5px;

  margin: 0;
}

p {
  font-weight: 600;
  color: rgba(149, 149, 149, 1);
  line-height: 1, 5;
}

a {
  color: rgba(222, 222, 222, 1);
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  color: rgba(222, 222, 222, 1);
  cursor: pointer;
  padding: 5px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2.h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1248px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  padding: 16px 48px;

  border-radius: 4px;
  background: rgba(157, 157, 157, 1);

  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0px;

  transition: background-color 0.7s, transform 0.5s;
}

.btn:hover {
  background: rgb(108, 108, 108);
}

.btn:active {
  background: rgb(66, 66, 66);
  transform: translateY(1px);
}
.btn--mailto {
  display: inline-flex;
  gap: 16px;
  align-items: center;
}

.btn--mailto::before {
  content: "";
  background-image: url("images/mail.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
}

/* ----------------------- HEADER ----------------------- */

.header {
  padding: 20px 0;

  backdrop-filter: blur(20px);
  background: rgba(50, 50, 50, 0.7);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
}
.logo {
  font-size: 20px;
  font-weight: 800;

  display: flex;
  gap: 10px;
  align-items: center;

  transition: transform 0.5s;
}
.logo__img {
}
.header__nav {
}

.header__nav ul {
  display: flex;
  gap: 60px;
}

.header__link {
  font-size: 18px;
  font-weight: 700;
}

.header li {
  transition: transform 0.5s;
}

.header a:hover,
.header li:hover {
  transform: scale(1.1);
}

.header a:active,
.header li:active {
  transform: scale(1);
  opacity: 0.8;
}

/* ----------------------- MAIN ----------------------- */

/* ----------------------- WELCOME ----------------------- */

.welcome {
  padding-top: 160px;
}
.container {
}
.welcome__container {
  display: flex;
  justify-content: space-between;
}
.welcome__desc {
}
.welcome__title {
  max-width: 500px;

  margin-bottom: 24px;

  color: rgba(222, 222, 222, 1);
  font-size: 54px;
  font-weight: 700;
  line-height: 1.2;
}

.welcome__text {
  max-width: 395px;

  margin-bottom: 88px;

  font-size: 20px;
}

.welcome__btn {
}
.welcome__img {
  width: 400px;
  height: 400px;

  margin-right: 50px;
  border-radius: 50%;

  object-fit: cover;
  object-position: center;
}

/* ----------------------- WORKS ----------------------- */
.works {
  margin-top: 160px;
}

.container {
}
.works__container {
}
.works button {
  display: inline-flex;
  gap: 25px;
  align-items: center;

  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.5px;
  text-transform: uppercase;

  margin-bottom: 80px;
}

.works__btn span {
  opacity: 0.7;
}

.works button::before {
  content: "";

  width: 20px;
  height: 40px;

  background-image: url("images/arrow.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.works__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;

  margin-top: 140px;
}
.work {
  position: relative;
  height: 888px;
}
.work__img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}

.work__name {
  position: absolute;
  left: 0;
  bottom: 0;

  opacity: 0;

  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.6);

  color: rgba(222, 222, 222, 1);
  font-size: 40px;
  font-weight: 700;

  transition: opacity 0.7s;
}

.work:hover .work__name {
  opacity: 1;
}

.work:nth-child(odd) {
  margin-top: -140px;
}
